.pricingContainer {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titlePricing {
    text-align: center;
    font-size: 2.25rem;
    font-weight: normal;
}

.cardsPriceContainer {
    margin: 5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.cardPrice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--blanco);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.titleCardPrice {
    font-size: 2.5rem;
}

.subtitleCardPrice {
    text-align: center;
    width: 300px;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.price {
    margin: 2rem 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--gris);
}

@media (max-width: 700px) {
    .titlePricing {
        font-size: 1.5rem;
    }

    .cardPrice {
        padding: 2rem 1rem;
    }

    .titleCardPrice {
        font-size: 1.5rem;
    }

    .subtitleCardPrice {
        font-size: 1rem;
    }

    .price {
        font-size: 1rem;
    }
}

@media (max-width: 370px) {
    .cardPrice {
        width: 100%;
        padding: 1.5rem .5rem;
    }
}