nav {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(245, 241, 237, 0.75);
    backdrop-filter: blur(20px);
}

.navBarContent {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav.scrolled {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.titleNavBar {
    cursor: pointer;
    user-select: none;
}