footer {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 3rem;
    padding: 2rem 0;
    border-top: 2px solid var(--crema-oscuro);
}

.dataFooter h3 {
    font-size: 1.3rem;
    margin-bottom: .5rem;
}

.contact {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 700px) {
    .dataFooter h3 {
        font-size: 1.2rem;
    }

    .dataFooter p {
        font-size: .8rem;
    }


    .contact p {
        font-size: .8rem;
    }
}

@media (max-width: 400px) {
    footer {
        flex-direction: column;
    }
}