main {
  display: flex;
  flex-direction: column;
  width: calc(100% - 5rem);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.5rem;
}

@media (max-width: 700px) {
  main {
    width: calc(100% - 2rem);
    padding: 0 1rem;
  }
}